body {
  font-family: 'Merriweather', sans-serif;
  margin: 0;
  background-color: #F2F1E8;
  color: #131511;
  font-weight: normal;
}
a:link {
  color: #2B2F26;
}
a:visited {
  color: #2B2F26;
}
a:hover {
    color: #CD5D67;
}


a:active {
    color: #968772;
}
p a {
  color: #968772;
}

#main-navigation {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
  height: 40px;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;*/
  position: fixed;
  box-shadow: 2px 2px 2px #888888;
}
 #imghead {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   height: 40px;
 }
#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  height: 40px;
  margin-top: -25px;
}

#main-navigation a {
  padding: 0 30px 0 30px;

}

#main-navigation img {
display: flex;
justify-content: flex-start;
}

#footer{
    color: #F2F1E8;
    background-color: #555;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    align-content: flex-end;

}
#wrapper {
  width: 1300px;
  display: flex;
}

/*Index*/
#title-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
h1 {
  padding-top: 50px;
  font-weight: normal;
  font-size: 55px;
  margin-bottom: -20px;
}
h2 {
  font-weight: lighter;
  font-size: 35px;
}
#images-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  margin: 1em;
  /*position: absolute;*/
}
#images-index div {
  margin: 1em;
}
#pot {
  width: 2em;
  height: auto;
}
.row1 p {
background-color: #968772;
color: #F2F1E8;
padding: 1em;
margin-right: 5em;
margin-top: 270px;
z-index: 5;
display: inline-block;
/*position: relative;*/
}

.row2 p {
  background-color: #968772;
  color: #F2F1E8;
  padding: 1em;
  margin-right: 5em;
  margin-top: 160px;
  z-index: 5;
  display: inline-block;
  /*position: relative;*/
}

.row1 {
  display: flex;
  justify-content: space-between;
}
.row2 {
  display: flex;
  justify-content: space-between;
}

#it1{
  height: 340px;
  width: 730px;
  background-image: url("./images/product-1.jpg");
  background-size: cover;
}
#it2{
  height: 340px;
  width: 220px;
  background-image: url("./images/product-2.jpg");
  background-size: cover;
}
#it3{
  height: 340px;
  width: 230px;
  background-image: url("./images/product-3.jpg");
  background-size: cover;
}
#it4{
  height: 220px;
  width: 220px;
  background-image: url("./images/product-4.jpg");
  background-size: cover;
}
#it5{
  height: 220px;
  width: 270px;
  background-image: url("./images/product-5.jpg");
  background-size: cover;
}
#it6{
  height: 220px;
  width: 480px;
  background-image: url("./images/product-6.jpg");
  background-size: cover;
}
#it7{
  height: 220px;
  width: auto;
  background-image: url("./images/product-7.jpg");
  background-size: cover;
}



/*About Page*/
#title-about {
  display: flex;
  align-self: center;
  justify-content: center;
}
#about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 750px;
  margin: 60px 300px;
}
#img-txt {
margin-top: -10px;
}


#bird {
  float: left;
  height: 90px;
  width: auto;
  margin: -5px 10px 10px 0px;
}
#pots2 {
  height: 120px;
  width: 160px;
}
#about-content p {
line-height: 1.9em;
}
#about-content h2 {
font-size: 25px;
margin-bottom: -7px;
align-self: flex-start;
}
blockquote {
  border-left: 2px solid #131511;
  padding-left: 1.25em;
  margin-left: -10px;
  line-height: 1.9em;
}
/*#plantbg {

  min-width: 1280px;
  height: 320px;
  margin-left: -100px;
  background-position: center;
  background-repeat: no-repeat;
}*/
#Room-to-grow {
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 100px;
  margin-top: -250px;
  padding-left: 100px;
  background-image: url("./images/background-3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1000px;
  width: 100%;
  height: 350px;
  margin-left: -300px;
  margin-top: 30px;
  padding: 0 200px;
  margin-bottom: 40px;
}
#about-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  height: 400px;
  width: 800px;
}
#facilities {
  width: 63%;
  margin-right: 10px;
}
#side-plants {
  width: 30%;
}
#pots2 {
  margin-top: 40px;
}

#tiny-text {
  font-size: 10px;
  margin-left: 10px;
  width: 15%;
}

#monthlyplans {
  margin-bottom: 10px;
}

table {
  margin-top: 25px;
  border: 1px solid #131511;
  border-collapse: collapse;
}
#theader td {
  padding-left: 5%;
}
td {
  border: 1px solid #131511;
  padding: 1em;
}
.table-color {
  background-color: #968772;
}

/*Newsletter*/
#everything {
  z-index: -2;
  background-image: url("./images/background-2.jpg");
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#newsletter-container {
/*z-index: -2;
background-image: url("./images/background-2.jpg");*/
display: flex;
align-items: center;
justify-content: center;
/*min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;*/
}
#form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  background-color: white;
  color: #131511;
  height: 340px;
  width: 610px;
  top: 50px;
  border: 1px solid white;
  position: absolute;
  margin-left: 30%;
  margin-top: 10%;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#form-box p {
  font-size: 20px;
}
input[type=text] {
  width: 500px;
  border-bottom: 2px solid #968772;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
input[type=email] {
  width: 500px;
  border-bottom: 2px solid #968772;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
/*form {
  display: flex;
  flex-direction: column;
}*/
#signupButton {
  background-color: #968772;
  height: 55px;
  width: 130px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-self: center;
    margin-left: 180px;
}
